.git
.github
.idea
.vscode
.env
.env.*
!.env.example

src
.mvn
mvnw
mvnw.cmd

README.md
HELP.md

target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports

*.iml
*.iws
*.ipr
*.log
*.swp
.DS_Store
